.UserInput{
    width: 600px;
    height: 100px;
    margin: auto;
    padding: 10px 10px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}